body {
  margin: 0;
  background-color: #0B2434;
  font-family: 'Karla', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F5F5F5;
  min-height: 90vh;
  width: 85vw;
  border-radius: 6px;
}

.app-title {
  margin: 0;
}

.app-description {
  text-align: center;
  max-width: 70%;
}

.all-dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;

}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 35px;
  width: 35px;
  box-shadow: 0px 2px 2px #444444;
  cursor: pointer;
}

.single-dice {
  font-size: 2rem;
}

.roll-btn {
  background-color: #5035FF;
  font-family: inherit;
  font-weight: 700;
  color: #fff;
  box-shadow: 0px 3px 8px #0000002e;
  border: none;
  border-radius: 4px;
  padding: .7em 1.7em;
  margin-top: 2em;
  cursor: pointer;
}

.score {
  display: flex;
  gap: 2em;
  text-align: center;
}

.score--board {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  background-color: #dddddd;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 0px 2px #444444;
  margin: .5em 0 1em;
}

.score--board p {
  font-style: italic;
}

.score p {
  margin: 0;
  font-size: 1rem;
}



@media (max-width: 320px){
  .all-dice-container {
    grid-template-columns: 1fr 1fr;
  }

  .score {
    flex-direction: column;
    gap: .3em;
  }

  .score--board {
    padding: 0;
    height: 30px;
  }
}


@media (min-width: 600px){
  .app {
    max-width: 1000px;
  }

  .dice-container {
    height: 50px;
    width: 50px;
  }

  .single-dice {
    font-size: 3rem;
  }
}

@media (min-width: 1000px){
  .app {
    overflow: hidden;
  }

  .app-title {
    font-size: 3.5rem;
  }
  .dice-container {
    height: 80px;
    width: 80px;
  }

  .single-dice {
    font-size: 4rem;
  }

  .roll-btn {
    font-size: 1.5rem;
  }

  .score--board {
    width: 200px;
  }

  .score p {
    font-size: 1.3rem;
  }
}