body {
  margin: 0;
  background-color: #0B2434;
  font-family: 'Karla', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  height: 90vh;
  width: 85vw;
  border-radius: 6px;
}

.all-dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;

}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  height: 35px;
  width: 35px;
  box-shadow: 0px 2px 2px #444444;
}

.single-dice {
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 320px){
  .all-dice-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 600px){
  .app {
    max-width: 1000px;
    max-height: 800px;
  }

  .dice-container {
    height: 50px;
    width: 50px;
  }

  .single-dice {
    font-size: 3rem;
  }
}

@media (min-width: 1000px){
  .dice-container {
    height: 80px;
    width: 80px;
  }

  .single-dice {
    font-size: 4rem;
  }
}